body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.gradient {
  font-size: 3rem;
  background: linear-gradient(90deg, #ff0080, #00b3ff, #ff0080);
  background-size: 200%;
  -webkit-background-clip: text;
  color: transparent;
  animation: move 3s linear infinite;
}
@keyframes move {
  to {
    background-position: -200% 0;
  }
}
